<h2 style="margin-left: 150px; font-weight: bold;">Listado de Ingresos</h2>
<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="60%">
        <input matInput type="text" (keyup)="hacerFiltro($event.target.value)" placeholder="Ingrese texto"/>
    </mat-form-field>
</div>

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="ingresoId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ingresoId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuario">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.usuario}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="proveedor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.proveedor}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipo_comprobante">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Comprobante</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tipo_comprobante}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="serie_comprobante">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Serie Comprobante</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.serie_comprobante}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="num_comprobante">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Número Comprobante</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.num_comprobante}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha_hora">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fecha_hora}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="impuesto">
            <mat-header-cell *matHeaderCellDef>Impuesto</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.impuesto}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.total}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.estado}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="desplegarColumnas"></mat-header-row>
        <mat-row *matRowDef="let row, columns: desplegarColumnas"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]"> 

    </mat-paginator>

    <button mat-fab id="boton-agregar" color="warn" (click)="abrirDialog()">
        <mat-icon>add</mat-icon>
    </button>
